body {
background-color: LightCyan;
background: linear-gradient(LightCyan,Cornsilk);
}

h1 {
font-family: verdana;
text-align: center;
}

p {
font-family: verdana;
color: DarkOrchid;
}

a.wiki:link, a.wiki:visited {
background-color: OldLace;
color: DarkRed;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a.wiki:hover, a.wiki:active {
background-color: DarkOrange;
}

a.imgLink:link, a.imgLink:visited {
color: DarkBlue;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a.imgLink:hover, a.imgLink:active {
background-color: LightBlue;
}

img.main {
float: left;
border-radius: 25px;
}

img.subscribe {
float: left;
opacity: 0.9;
}

table {
border:6px solid black;
border-style:groove;
border-color:red blue gold teal;
width:80%;
border-collapse: collapse;
margin: 25px 0;
font-size: 1.1em;
font-family: Trebuchet MS;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr {
background-color: PapayaWhip;
color: black;
text-align: left;
border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
background-color: #f3f3f3;
}

tr:last-of-type {
border-bottom: 2px solid #009879;
}

tr.active-row {
font-weight: bold;
color: #009879;
}

th,td {
border: 2px black;
border-radius: 10px;
border-style: groove;
text-align: center;
height: 25px;
padding: 8px 10px;
}

p::first-letter {
color : black;
font-size : xx-large;
}

p::first-line {
color : black;
}

div.stadium {
margin: 5px;
padding: 5px;
height: auto;
width: auto;
text-align: center;
display: inline-block;
transition: transform .2s;
border-radius: 25px;
}

div.stadium:hover {
border: 1px solid #777;
transform: scale(1.3);
}

div.name {
text-indent: 10px;
text-align: center;
font-weight: normal;
width: 250px;
margin: 5px;
}

@media print {
    p {
        font-size: 20px;
        color: blue;
    }
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}