h1 {
color: DarkTurquoise;
text-align: center;
text-shadow: 2px 2px 2px #282828;
text-shadow: -1px -1px #eee, 1px 1px #888, -3px 0 4px #000;
font-size: 30px;
font-family:"Segoe print", Arial, Helvetica, sans-serif;
font-weight:lighter;
padding:2px;
box-shadow:2px 2px 6px #888;
line-height:70px;
}

p {
font-family: Montserrat Alternates Regular;
font-size : large;
color: #202020;
}

body {
background-color: #A9A9A9;
background-image: url("../images/index-bg.jpg");
background-repeat: no-repeat;
background-size: contain;
background-attachment: fixed;
}

#redirectLinks1, #redirectLinks2, #redirectLinks3 {
text-align: center;
}

button {
display: inline-block;
color: #eeeeee;
background-color: BlueViolet;
border-radius: 12px;
border: 4px double #cccccc;
text-align: center;
font-size: 18px;
padding: 20px;
width: 220px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
background-color: #3e8e41;
}