h1 {
color: DarkTurquoise ;
font-family: verdana;
text-align: center;
text-shadow: 2px 2px 2px #FF00FF;
}

p {
font-family: verdana;
color: AntiqueWhite;
}

body {
background-color: lightgrey;
background-image: url("../images/index-bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

#redirectLinks1, #redirectLinks2, #redirectLinks3 {
text-align: center;
}

button {
display: inline-block;
background-color: BlueViolet;
border-radius: 12px;
border: 4px double #cccccc;
color: #eeeeee;
text-align: center;
font-size: 18px;
padding: 20px;
width: 220px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
background-color: #3e8e41;
}