h1 {
color: teal;
font-family: verdana;
text-align: center;
}

p {
font-family: verdana;
color: AntiqueWhite;
}

body {
background-color: lightgrey;
background-image: url("../images/index-bg.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

#redirectLinks1, #redirectLinks2, #redirectLinks3 {
text-align: center;
}

button {
display: inline-block;
background-color: #7b38d8;
border-radius: 10px;
border: 4px double #cccccc;
color: #eeeeee;
text-align: center;
font-size: 18px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}